# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# This app use prisma so you can refer to https://www.prisma.io/docs/orm/overview/databases/mysql#connection-url
DATABASE_URL=your-database-url

# APPLICATION ID : https://discord.com/developers/applications/ { your app } /oauth2
DISCORD_CLIENT_ID=your-application-id

# CLIENT SECRET : https://discord.com/developers/applications/ { your app } /oauth2
DISCORD_CLIENT_SECRET=your-client-secret

# TOKEN : https://discord.com/developers/applications/{ your app }/bot
# ex : Bot pihjqpfaqGEGAZgzegjzaeg574zg566
DISCORD_BOT_TOKEN_NOBLEBOT=-your-bot-token

# Use the link generator in your discord application panel to get it
INVITATION_LINK=your-invation-link

# Random secret: npx auth secret
NEXTAUTH_SECRET=your-auth-secret

# default "http://localhost:3000/"
NEXTAUTH_URL=http://localhost:3000/

# Storage folder for songs upload
STORAGE_FOLDER=../storage

# Id of your development guild
DEV_GUILD_ID=your-dev-guild-id

# Ids of your developers team (ex: 8979879875643587, 98765435468768765476, 98764698765435432418)
ADMINS=developers-list-discord-id

# development | production
NODE_ENV=development